<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Conway Game of Life</title>
    <style>
        canvas {
            border: 1px solid #000;
        }
    </style>
</head>

<body>
    <h1>Conway Game of Life</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <canvas id="conwayCanvas" th:width="${#lists.size(conway[0]) * 10}"
        th:height="${#lists.size(conway) * 10}"></canvas>

    <br>
    <button onclick="renewClick()">Reset</button>
    <button onclick="toggleUpdate()">Pause/Resume</button>

    <br>
    <label for="randomnessSlider">Randomness</label>
    <input type="range" id="randomness" min="1" max="100" step="1" value="50" oninput="updateRandomness()">
    <span id="randomnessValue">50</span>

    <br>
    <label for="updateInterval">Update Interval (ms):</label>
    <input type="range" id="updateInterval" min="10" max="1000" step="10" value="100" oninput="updateIntervalChanged()">
    <span id="intervalValue">100</span>

    <br>
    <label for="canvasWidth">Canvas Width:</label>
    <input type="range" id="canvasWidth" min="100" max="1000" step="10" value="" oninput="resizeCanvas()">
    <span id="widthValue"></span>

    <br>
    <label for="canvasHeight">Canvas Height:</label>
    <input type="range" id="canvasHeight" min="100" max="1000" step="10" value="" oninput="resizeCanvas()">
    <span id="heightValue"></span>

    <script th:inline="javascript">
        document.getElementById('canvasWidth').value = /*[[${#lists.size(conway[0]) * 10}]]*/1;
        document.getElementById('widthValue').innerText = /*[[${#lists.size(conway[0]) * 10}]]*/1;
        document.getElementById('canvasHeight').value = /*[[${#lists.size(conway) * 10}]]*/1;
        document.getElementById('heightValue').innerText = /*[[${#lists.size(conway) * 10}]]*/1;

        var canvas = document.getElementById('conwayCanvas');
        var ctx = canvas.getContext('2d');
        var zoom = 10;
        var socket = new SockJS('/ws');
        var stompClient = Stomp.over(socket);
        var isPaused = false;
        var updateInterval = 100;
        var intervalId = null;

        stompClient.debug = null;

        stompClient.connect({}, function (frame) {
            stompClient.subscribe('/conway/board', function (conwayData) {
                try {
                    var parsedData = JSON.parse(conwayData.body);
                    drawBoard(parsedData);
                } catch (error) {
                    console.error('Error processing message:', error);
                }
            });

            // Set up setInterval for periodic updates
            startUpdateInterval();
        });

        canvas.addEventListener('click', function (event) {
            var colIndex = Math.floor(event.offsetX / zoom);
            var rowIndex = Math.floor(event.offsetY / zoom);

            stompClient.send("/app/click", {}, JSON.stringify({ rowIndex: rowIndex, colIndex: colIndex }));
        });

        window.addEventListener('resize', function () {
            resizeCanvas();
        });

        function resizeCanvas() {
            var newWidth = parseInt(document.getElementById('canvasWidth').value);
            var newHeight = parseInt(document.getElementById('canvasHeight').value);

            canvas.width = newWidth;
            canvas.height = newHeight;

            document.getElementById('widthValue').innerText = newWidth;
            document.getElementById('heightValue').innerText = newHeight;

            document.getElementById('intervalValue').innerText = updateInterval;

            stompClient.send("/app/resizeBoard", {}, JSON.stringify({ rows: newHeight / zoom, cols: newWidth / zoom }));
        }

        function drawBoard(conwayData) {
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            conwayData.forEach(function (row, rowIndex) {
                row.forEach(function (value, colIndex) {
                    if (value) {
                        // Draw a live cell
                        ctx.fillStyle = '#000';
                        ctx.fillRect(colIndex * zoom, rowIndex * zoom, zoom, zoom);
                    } else {
                        // Draw a dead cell
                        ctx.fillStyle = '#fff';
                        ctx.fillRect(colIndex * zoom, rowIndex * zoom, zoom, zoom);
                        ctx.strokeStyle = '#000';
                        ctx.strokeRect(colIndex * zoom, rowIndex * zoom, zoom, zoom);
                    }
                });
            });
        }

        function startUpdateInterval() {
            clearInterval(intervalId);

            intervalId = setInterval(function () {
                if (!isPaused) {
                    stompClient.send("/app/update");
                }
            }, updateInterval);
        }

        function toggleUpdate() {
            isPaused = !isPaused;
        }

        function updateIntervalChanged() {
            updateInterval = parseInt(document.getElementById('updateInterval').value);
            document.getElementById('intervalValue').innerText = updateInterval;
            startUpdateInterval();
        }

        function updateRandomness() {
            var randomness = parseInt(document.getElementById('randomness').value);
            document.getElementById('randomnessValue').innerText = randomness;
        }

        function renewClick() {
            var randomness = parseInt(document.getElementById('randomness').value);
            stompClient.send("/app/renew", {}, randomness);
        }
    </script>
</body>

</html>
